/*author :Japnoor Kaur */

.teamTable {
  border: 1px solid black;
  width: "300px";
  text-align: center;
  border-collapse: separate;
  border-spacing: 3px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.teamThTd {
  border: 1px solid black;
  padding: 10px;
}
.teamTh {
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(45, 148, 233, 0.863);
}
.textformat {
  font-family: cursive;
  color: rgb(2, 17, 15);
}
.format {
  text-align: center;
  justify-content: center;
}
.teambutton {
  color: white;
}
.teamDropdown {
  width: 160px;
  padding: 6px;
}
.teamRow {
  display: flex;
  justify-content: center;
}
