.viewProjectForm {
    margin-left: 4em;
    margin-top: 3vh;
    margin-bottom: 5vh;
    text-align: left;
    width: 450px;
    padding-bottom: 3em;
}

.viewProjectbutton {
    margin-left: 1em;
    margin-top: 0;
}

.errorMsg{
    color: red;
}

.mainContent{
    margin-left: 0em;
    margin-top: 0em;
}

.viewProjectFooter{
    bottom: 0;
    position: absolute;
    width:100%
}