/* ul#sprint-colmn-headers li {
  display:inline;
} */

.min-vh-25 {
    min-height: 18vh !important;
}

.task {
  background-color: #deebff;
  border: 1px solid #dee2e6 !important;
  border-radius: .25rem !important;
  margin-left:  .25rem !important;
  margin-right:  .25rem !important;
  margin-top:  .25rem !important;
}

/* deebff */