.aboutUsTitle {
  font-family: Spicy Rice;
  color: #000080;
  margin-top: 3em;
  margin-left: 2em;
  padding: 2rem;
  text-align: center;
}

.aboutUsSummary {
  margin-left: 4em;
  padding-top: 2em;
}

.aboutUsSummaryHead {
  font-family: FiraSans;
  color: indigo;
}

.aboutUsSummaryBody {
  margin-left: 3em;
}

.aboutUsaside {
  width: 48%;
  padding-left: 15px;
  margin-left: 15px;
  margin-right: 4em;
  float: right;
}

.aboutUsSummaryLast {
  width: 45%;
  margin-left: 4em;
  padding-top: 2em;
  margin-bottom: 4em;
  padding-bottom: 2em;
}

.aboutUsFooterDesktop {
  position: absolute;
  width: 100%;
}

.aboutUsFooterMobile {
  position: absolute;
  width: 100%;
  bottom: 0;
}
/* .row {
  display: flex;
  justify-content: center;
} */
