.forgotPasswordForm {
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 5vh;
    text-align: left;
    width: 50%;
    padding-bottom: 3em;
}

.button {
    margin-left: 20vh;
    margin-right: 20vh;
}

.errorMsg{
    color: red;
}

.forgot-password-summary{
    margin-left: 4em;
    padding-top: 1em;
}

.forgot-password-aside {
    width: 48%;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 4em;
    float: right;
}

.forgot-password-footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}

.title{
    font-family: Spicy Rice;
    color: #000080;
    text-align: center;
}