/*   Author: Pratheep Kumar Manoharan
  Banner Id:  B00837436
  Contact Us page style sheet */

.contactUsTitle {
  font-family: Spicy Rice;
  color: #000080;
  margin-top: 1em;
  text-align: center;
}

.contactUsFooter {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.contactus-div {
  border: 1px solid white;
  box-shadow: 0 5px 10px #efefef;
  padding: 10px;
}

.error {
  color: red;
}
