.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.navHeader,
.navHeader-authenticated {
    position: "fixed";
    background-color: #2888d1;
    margin: 0px auto;
    width: 100%;
    padding: 20px 0px 20px 0px;
    z-index: 9000;
}

.navHeader-authenticated {
    width: calc(100vw - 200px) !important;
}

.custom-footer {
    bottom: 0;
    left: 0;
    position: static;
    background-color: #2888d1;
    color: white;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575cd;
    color: floralwhite;
}

.navnav {
    background: #ccccff;
}

/* .text-center{
    margin-top: 10vh !important;
} */
.align-center {
    position: "absolute";
    top: "50%";
}


.centerDiv {
    margin: auto;
}

.App {
    padding-bottom: 1em;
}

.logoimage {
    padding-top: 0.2em;
    padding-right: 0.5em;
    width: 9.25em;
    height: 3.45em;
    padding-bottom: 0.2em;
    margin-left: 1em;
}

.custom-link {
    color: white;
}

/* #login-button {
    display: none;
} */