.landingPageheader {
  text-align: center;
  padding-top: 1em;
  cursor: auto;
}

.projectImage {
  height: 18em;
  width: 100%;
  background: linear-gradient(to bottom, #00d4ff 0%, #86bf04 100%);
  transform: scale(1);
  transition: transform 0.5s ease;
  cursor: default;
}

.sprintImage {
  height: 15em;
  width: 50%;
  background: linear-gradient(to bottom, #00d4ff 0%, #86bf04 100%);
  transform: scale(1);
  transition: transform 0.5s ease;
  cursor: default;
}

.tasksImage {
  height: 25em;
  width: 100%;
  background: linear-gradient(to bottom, #00d4ff 0%, #86bf04 100%);
  transform: scale(1);
  transition: transform 0.5s ease;
  cursor: default;
}


.documentsImage {
  height: 18em;
  width: 50%;
  background: linear-gradient(to bottom, #00d4ff 0%, #86bf04 100%);
  transform: scale(1);
  transition: transform 0.5s ease;
  cursor: default;
}

.landingPageTitle {
  font-family: Spicy Rice;
  color: #000080;
  margin-top: 5em;
  margin-left: 2em;
  cursor: auto;
}

.landingPageSummaryFirst {
  margin-left: 4em;
  padding-top: 3em;
  cursor: auto;
}

.landingPageSummary {
  margin-left: 4em;
  padding-top: 15em;
  cursor: auto;
}

.landingPageSummary2 {
  margin-left: 4em;
  padding-top: 5em;
  cursor: auto;
}

.landingPageSummaryHead {
  font-family: FiraSans;
  color: indigo;
  cursor: auto;
}

.landingPageSummaryHeadRight {
  font-family: FiraSans;
  color: indigo;
  padding-top: 1.5em;
  cursor: auto;
}

.landingPageSummaryHead2 {
  font-family: FiraSans;
  color: indigo;
  padding-top: 3em;
}

.landingPageSummaryBody {
  margin-left: 3em;
}

.aside {
  width: 48%;
  padding-left: 15px;
  margin-left: 15px;
  margin-right: 4em;
  float: right;
}

.aside-right {
  width: 40%;
  padding-left: 5px;
  margin-left: 5px;
  margin-right: 4em;
  float: right;
}

.landingPageSummaryLast {
  width: 45%;
  margin-left: 4em;
  padding-top: 2em;
  margin-bottom: 4em;
  padding-bottom: 2em;
}

.landingPageFooter {
  padding-top: 3em;
  bottom: 0;
  width: 100%;
}

.row{
    /* padding: 0vh 10vw 0vh 10vw !important; */
    margin: 0vh 0vw 0vh 0vw !important;
}
