.createProjectFooter {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.createProjectForm {
  /* margin-left: 4em; */
  margin-top: 5vh !important;
  margin-bottom: 5vh !important;
  text-align: left;
  /* width: 450px; */
  /* padding-bottom: 3em; */
  justify-content: center; 
}

.createProjectbutton {
  margin-left: 1em;
  margin-top: 1em;
}

.dateFields {
  padding-left: 0em;
}

.title {
  font-family: Spicy Rice;
  color: #000080;
}

.row{
    /* padding: 0vh 10vw 0vh 10vw !important; */
    margin: 0vh 0vw 0vh 0vw;
}

.team-dropdown {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.btn-success:hover {
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

.btn-success {
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}