/*   Author: Pratheep Kumar Manoharan
  Banner Id:  B00837436
  View Task page style sheet */

.createFooter {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.createForm {
  margin: auto;
  margin-left: 5em;
  margin-top: 5em;
}

.message {
  font-style: italic;
  color: teal;
  margin: "auto";
}

.createTitle {
  font-family: sans-serif;
}
