*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;

}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.wrapper .sidebar ul li a {
    color: #bdb8d7;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background: #594f8d;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .sidebar .about-us {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .about-us a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.sort-filter-div {
    margin: 0px 180px 5px;
}

.list-style {
    overflow-y: auto;
    height: 530px;
    box-shadow: 0 1px 1px gray;
}

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.main_content {margin-left: 0;}
  }
  
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
.sidebar a {
    text-align: center;
    float: none;
}
}