/* .form-control {
    border: none !important;
} */

.svg-inline--fa  {
    vertical-align: middle;
}

.drop-down {
    height: 38;
    width: 135;
}

.createButton {
	/* box-shadow: 0px 7px 12px -7px #276873; */
	/* background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%); */
	background-color:#599bb3;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    align-content: center;
    margin-left: 4vh;
}

/* .searchButton {
	box-shadow: 0px 7px 12px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:11px 20px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    align-content: center;
    margin-left: 4vh;
} */

/* .btn {
    padding: 0rem 0rem !important;
} */

/* .btn-success {
    box-shadow: 0px 7px 12px -7px #276873 !important;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%) !important;
	background-color:transparent !important;
	border-radius:5px !important;
	display:inline-block !important;
	cursor:pointer !important;
    color:#ffffff !important;
    border-color: transparent !important;
} */

.search {
	border: 1px solid #dee2e6 !important;
}

.margin-row {
	margin: 5vh 0vw 5vh 0vw !important;
}